/* Estiliza o layout principal */
main {
    background-color: none;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
}

/* Define a área em grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* O formulário ocupa o dobro do espaço da seção "sugestoes" */
    max-width: 100%;
}

/* Estiliza o formulário */
form {
    background-color: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px; /* Espaçamento entre os campos */
}

/* Estiliza os labels */
form label {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

/* Estiliza os inputs */
form input {
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    outline: none;
}
/* Botão de cadastro */
form button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

form button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.radio-group {
    display: flex;
    gap: 20px; /* Espaço entre os radios */
    justify-content: left; /* Centraliza os elementos */
}

.radio-option {
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    align-items: center; /* Centraliza os itens */
}

/* Ajuste da seção "sugestoes" */
.sugestoes {
    background-color: var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.scroll{
    max-height: 100vh;
    overflow-y: auto;
    border: 1px solid;
}

.suggestion-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.suggestion-table th, .suggestion-table td {
    border: none;
    padding: 10px;
    text-align: center;
}

.suggestion-table th {
    color: var(--secondary-color);
    font-weight: bold;
}

.fill-button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}
.fill-button:hover {
    background-color: var(--secondary-color);
}
